*
{
	margin: 0px auto;
	padding: 0px;
}

#container{
	overflow: auto;
	position: relative;
	top: 4%;
	outline: 0.6vw solid orange;
	width: 95%;
	filter: blur(0px);
}


#img_container_bg
{
	position: relative;
	overflow: hidden;
	max-height: 90%;
	z-index: -1;
}

#gameover
{
	display:none;
 	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	position: absolute;
	top: 25%;
	left: 30%;
	z-index: 2;
	border: 0.4vw solid orange;
	width:40%
}

span
{	
	font:bold 3.0vw "Comic Sans MS";
	color: orange ;
	text-align: center;
	line-height: 350%;
	margin-left: 33%; 
}

button
{
	margin-bottom: 5%;
	font: 2.0vw "Comic Sans MS";
	color: white; 
	background: transparent; 
	border: 2px solid white;
	border-radius: 6px; 
}

#button1
{
	margin-left: 45%;
}

#button2
{
	margin-left: 32%;
}

hr
{
	border: 2px solid orange;
	width:75%;
	margin-top: -5%;
	margin-bottom: 3%;
}

button:hover
{
	background-color: #008CBA;      
	color: white;
}

a
{
	color: #0099CC;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	color: white;
}

#img_bg
{
	z-index: -1;
	width: 100%;
}

#img_container_ship
{
	position: absolute;
	top: 85%;
	left: 45vw;	
	width: 4%;
	outline: 2px solid yellow;
}


#img_ship
{
	z-index: 1;
	width: 100%;
}

